.main-body{
    
}
.calc{
    background-color: gray;
    height:500px;
    width: 350px;
    margin-top: 50px;
    margin-left: 500px;
    border-radius: 16px;

}
.screen{
    height:40px ;
    width: 90%;
    margin-left: 14px;
    margin-top: 35px;
    pointer-events: none;
    border-radius: 5px;
}
.btn{
    height: 40px;
    width: 40px;
    margin-left: 34px;
    margin-top: 30px;
    background-color: antiquewhite;
}
.clr{
    height: 40px;
    width: 100px;
    margin-left: 34px;
    margin-top: 20px;
    background-color: aquamarine;
}